@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 172, 182);
}

h1 {
    font-family: 'Spinnaker', sans-serif;
    color: lightcyan;
    text-align: center;
    margin-top: 10px;
}

.game-box {
    text-align: center;
}

.board {

    text-align: center;
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 50px 50px;
    width: 180px;
    height: 210px;
    padding-top: 20px;
    padding-left: 15px;
    margin: auto;
    margin-top: 10px;
    position: relative;
}

.cell {
    
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(205, 234, 240);
    cursor: pointer;
    font-family: 'Spinnaker', sans-serif;
    font-size: 37px;
    color: rgb(0, 69, 78);
    user-select: none;
}

#cell1, #cell2, #cell3 {
    border-top: none;
}
#cell3, #cell6, #cell9 {
    border-right: none;
}
#cell1, #cell4, #cell7 {
    border-left: none;
}
#cell7, #cell8, #cell9 {
    border-bottom: none;
}

/* .cell:hover {
    background-color: rgb(240, 243, 247);
} */

.resultBoard {
    text-align: center;
    align-items: center;
}
.result-win {
    background-color: #f7f5f5b7;
    font-family: 'Spinnaker', sans-serif;
    font-size: 40px;
    color: rgb(0, 204, 0);
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 155px;
    position: absolute;
    z-index: 10;
    user-select: none;
}

.result-lose {
    background-color: #f7f5f5b9;
    font-family: 'Spinnaker', sans-serif;
    font-size: 40px;
    color: rgb(238, 0, 0);
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 155px;
    position: absolute;
    z-index: 10;
    user-select: none;
}

button {
    outline: none;
    cursor: pointer;
    font-family: 'Spinnaker', sans-serif;
    

}
/* 
.start {

    left: 70px;
    bottom: 180px;
    width: 100px;
    height: 40px;
    border:2px solid rgb(82, 92, 102);
    font-size: 20px;
    border-radius: 2px;
} */

.restart {
    background-color: rgb(34, 172, 182);
    outline: none;
    border: 1px white;
    z-index: 15;
    color: lightcyan;
    grid-row: 5;
    grid-column: 2;
    border-radius: 2px;
}

.game-mode {
    border-radius: 2px;
    color: lightcyan;
    font-size: 15px;
    margin-top: 10px;
    border: 1px white;
    background-color: rgb(34, 172, 182);
   
}

.active {
    color: rgb(0, 84, 95);
}




























/* önce display none sonra iki ayrı class verip kazandın
yeşil, kaybettin kırmızı olacak, oyun tahtası opacity si düşecek,
display none kaldırılacak */